@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Oh no! Error!</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<img src="~/images/ohnobubble.jpg" height="400" />

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>You are not is Production mode or Development mode</h3>
<p>
    You may want to try swapping to Developer mode or Production mode to see a more customized error view
</p>