@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<img src="~/images/ohnodeveloper.gif" height="400" />


<h1 class="text-danger">Oh no! It's a developer's worst nightmare!
    <br />Looks like something went wrong
</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>NOTE: You are in Development Mode</h3>
