@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">About Us</h1>
    <img src="~/images/Kitchiepanlogonobackground.png" height="300" />
    <p>kitchie.com is the number 1 seller for innovative kitchen products</p>
    <p>Browse our inventory to find your next kitchen hack</p>
</div>
