@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

Contact us at any time for more information about our products, customer service, or 
to sign up for deals with our newsletter.
<br />
<pre>
Call Us:
    800-444-5555

Mail Us:
    ABC Products
    27 N Excelsior St
    Santa Manta, YZ 90210

Email Us:
    info@ABCProducts.com
</pre>

