@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">ABC Products - Home</h1>
    <img src="~/images/abclogo.jpg" height="400" />
    <p>ABC Products is the number 1 seller for innovative kitchen products</p>
    <p>Browse our inventory to find your next kitchen hack</p>
</div>
