@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">kitchie.com - Home</h1>
    <img src="~/images/kitchiecoverimage.png" height="400" />
    <p>kitchie.com is the number 1 seller for innovative kitchen products</p>
    <p>Browse our inventory to find your next kitchen hack</p>
</div>
